<p><%= notice %></p>
<table>
  <tr>
    <th>ツイート</th>
    <th>投稿時間</th>
  </tr>
<% @tweets.each do |tweet| %>
<div class="btn-group" role="group" aria-label="...">
  <tr>
    <td><%= tweet.content %></td>
    <td><%= tweet.created_at %></td>
    <td><button type="button" class="btn btn-default"><%= link_to "詳細", tweet_path(tweet.id) %></button></td>
    <td><button type="button" class="btn btn-default"><%= link_to "編集", edit_tweet_path(tweet.id), data: { confirm: '本当に編集しますか？' } %></button></td>
    <td><button type="button" class="btn btn-default"><%= link_to '削除', tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></button></td>
  </tr>
</div>
<% end %>
</table>
